
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffeaa5;
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Krub', sans-serif;
}
header {
  background-color: #c7efcf;
  position: static;
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}
header nav a {
  color: #000000;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 30px;
}
header nav a:hover {
  background-color: #eef5db;
  border-radius: 50px;
}

h1,h2,h4{
  padding: 10px;
}
h3 {
  font-style: italic;
}
p {
  padding-left: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 40px;
  padding-bottom: 40px;
  text-align: justify;

}
#inicio {
  margin: auto;
  margin-top: 20px;
}
.container {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

}
.logo {
  width: 20%;
  height: 300px;
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-flow: row;

  /*
  margin: auto;
  display: block;
*/
}

footer {
  background-color: #c7efcf;
  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
