* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f4b2;
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Krub', sans-serif;
}
header {
  background-color: #cce490;
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
  text-align: center;
}
header nav a {
  color: #000000;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  padding: 6px 61px;
  font-size: 30px;
}
header nav a:hover {
  background-color: #eef5db;
  border-radius: 50px;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  padding: 10px;
}
h2{
  padding: 10px;
}
h3 {
  font-style: italic;
  padding-top: 10px;
}
p {
  margin: 7%;
  text-align: justify;
}
#inicio {
  margin: 2%;
  /*margin: auto;
  margin-top: 20px;
  */
}
.container {
  /*padding: 10px;*/
  display: flex;
  flex-direction: row;
  flex-flow: row;
}
.logo {
  display: flex;
  box-sizing: border-box;
  /*margin: auto;*/
  flex-flow: row;
  width: 100%;
  height: 100%;
  padding-left: 4%;
  padding-right: 5%;

  /*padding-left: 50px;*/
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #cce490;
  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  header {
    background-color: #cce490;
    width: 100%;
    height: 80%;
    margin-bottom: 2%;
    text-align: justify;
  }
  header nav a {
    color: #000000;
    overflow: hidden;
    display: inline-block;
    padding: 6px 61px;
    font-size: 30px;
  }
  p {
    margin: 7%;
    text-align: justify;
  }
}
