* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f4b2;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Krub', sans-serif;
}
header {
  background-color: #cce490;
  position: static;
  width: 100%;
  height: 80%;
  /*margin-bottom: 20px;*/
  text-align: center;
}
header nav a {
  color: #000000;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 30px;
}
header nav a:hover {
  background-color: #eef5db;
  border-radius: 50px;
}
h1 {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}
p {
  text-align: justify;
  margin: 5% 21%;
}

#fotoDueña {
  width: 25%;
  height: 15%;
  margin: auto;
  display: block;
  border-radius: 20px;
  border: 30px;
  margin-top: 2%;
}
footer {
  background-color: #cce490;
  position: static;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 50px;
}
@media screen and (max-width: 400px) {
  p {
    text-align: justify;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  header {
    background-color: #cce490;
    width: 100%;
    height: 80%;
    margin-bottom: 2%;
    text-align: justify;
  }
  header nav a {
    color: #000000;
    overflow: hidden;
    display: inline-block;
    padding: 6px 61px;
    font-size: 30px;
  }
  #fotoDueña {
    width: 100%;
    margin: 2%;
  }
}
