* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f4b2;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Krub', sans-serif;
}
header {
  background-color: #cce490;
  position: static;
  width: 100%;
  height: 80%;
  /*margin-bottom: 20px;*/
  text-align: center;
}
header nav a {
  color: #000000;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
padding: 6px 61px;
  font-size: 30px;
}
header nav a:hover {
  background-color: #eef5db;
  border-radius: 50px;
}

h1 {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}
h2 {
  padding: 20px;
  text-align: center;
}
.container {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  margin-right: 3%;
  margin-left: 10%;
  /*padding: 10px;*/
  /*border-left: 40px;
  border-right: 40px;*/
  /*max-width: 1000px;*/

}
.imagen1 {
  max-width: 500px;
  display: flex;
  width: 400px;
  height: 404px;
  box-sizing: border-box;
  margin-right: 3%;
  /*margin-top: 25px;*/
  padding: 10px;
  flex-flow: row;
  /*background-color: #eef5db;*/
  margin-right: 20%;
}
section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/*Para hacer la lista flexible*/
.descriptionMenuList {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.descriptionMenu {
  flex: 2;
  align-items: center;
}
.descriptionMenuMiddle {
  flex: 10;
}
.descriptionMenuEnd {
  align-items:  stretch;
}

/* Para poner los puntitos en la lista */
.space {
  border-bottom-style: dotted;
  border-color: black;
  border-width: 10;
}
footer {
  background-color: #cce490;
  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  margin-top: 2%;
}

@media screen and (max-width: 400px) {
  header {
    background-color: #cce490;
    width: 100%;
    height: 80%;
    margin-bottom: 2%;
    text-align: justify;
  }
  header nav a {
    color: #000000;
    overflow: hidden;
    display: inline-block;
    padding: 6px 61px;
    font-size: 30px;
    margin: 3%;
  }
  .contenedor {
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
    /*text-align: center;*/
    width: 100%;
  }
  body {
    width: 100%;
    margin:0;
    /*text-align: center;*/
    font-size: 20px;
  }
  section {
    flex-wrap: wrap;
    margin-left:0;
    margin-right: 0
  }
  .imagen1 {
    margin-right: 0;
    width: 100%;
  }
  .container {
    margin: 3%;
    padding: 0;
    text-align: left;
    /*border: 100%;*/

  }
}
