* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f4b2;
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Krub', sans-serif;
}
header {
  background-color: #cce490;
  position: static;
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}
header nav a {
  color: #000000;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 30px;
}
header nav a:hover {
  background-color: #eef5db;
  border-radius: 50px;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  padding: 10px;
}
h2{
  padding: 10px;
}
h3 {
  font-style: italic;
  padding-top: 10px;
}
p {
  padding-left: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: justify;

}
#inicio {
  margin: auto;
  margin-top: 20px;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
}
.logo {
  display: flex;
  box-sizing: border-box;
  margin: auto;
  flex-flow: row;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  /*
  margin: auto;
  display: block;
*/
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #cce490;
  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
